body{
  background-color:#EEEEEE;
}
#parrafo{
  color:#FF0000;
}

.etiqueta{
  color:#00ee00;
}

.caja{
  margin:20px;
  background-color:#aaf;
  padding:20px;
  border-style: solid;
  border-width: 10px;
  border-color:rgb(255, 204, 153);
  border-radius:10px;
  height:200px;
  width:200px;
  color:rgb(0, 51, 153);
}
