body{
  background-color:#EEEEEE;
}

.parrafo1{
  color:#222FFF;
  text-align:center;
  font-family: monospace;
  font-style:italic;
  font-size:1.6em;
}

.parrafo2{
  color:rgb(255, 51, 0);
  text-align:justify;
  text-indent:15px;
  font-family:sans-serif;
  font-weight:900;
  font-size:1.5em;
}

.parrafo3{
  color:rgb(51, 153, 102);
  text-align: right;
  font-size:20px;
  font-family:monospace;
  font-style:oblique;
}

.a1{
  text-decoration:none;
  text-transform:uppercase;
}

.a2{
  text-decoration:line-through;
  text-transform:capitalize;
}

.a3{
  text-decoration:none;
  text-transform:lowercase;
  letter-spacing:5px;
}


.a4{
  display: inline-block;
  margin-top:20px;
  text-decoration:none;
  background-color:rgb(255, 0, 102);
  padding:15px;
  border-radius:5px;
  font-family:monospace;
}

.a4:link{
  color:white;
}

.a4:visited{
  color:white;
}

.a4:hover{
  background-color:rgb(204, 0, 102);
}


ul{
  list-style-type:none;
  padding:0px;
  background-color:rgb(179, 179, 255);
  border-radius:4px;
}
li{
  padding:15px;
  border-bottom: solid 1px rgb(153, 153, 255);
  font-family:monospace;
}
