body{
  background-color:#EEEEEE;
}
p{
  float:left;
  width:100px;
  height: 400px;
  padding:15px;
  overflow:auto;
}

img{
  display:block;
  padding:15px;
  border-radius:10px;
}

img:hover{
  opacity:0.5;
}
